.covenant_tab_container > .covenant_tab {
    cursor: pointer;
    position: relative;
}
.covenant_tab_container > .covenant_tab > img {
    margin-bottom: -4px;
    border-radius: 50%;
    border: 2px solid var(--light);
    max-width: 100%;
}
.covenant_tab_container > .covenant_tab.active > img {
    border: 2px solid var(--gold);
}
.covenant_tab_container > .covenant_tab > div {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2;
    right: 1px;
    bottom: 0px;
    border-radius: 50%;
}
.covenant_tab_container > .covenant_tab > div[data-cocket-type="POTENCY"] ,
.covenant_tab_container > .covenant_tab > div[data-cocket-type="ENDURANCE"] ,
.covenant_tab_container > .covenant_tab > div[data-cocket-type="FINESSE"] {
    background: var(--light);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.covenant_tab_container > .covenant_tab.active > div[data-cocket-type="POTENCY"] ,
.covenant_tab_container > .covenant_tab.active > div[data-cocket-type="ENDURANCE"] ,
.covenant_tab_container > .covenant_tab.active > div[data-cocket-type="FINESSE"] {
    background: var(--gold);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.covenant_tab_container > .covenant_tab > div[data-cocket-type="POTENCY"] {
    background-image: url("../../../img/swords.png") !important;
}
.covenant_tab_container > .covenant_tab > div[data-cocket-type="ENDURANCE"] {
    background-image: url("../../../img/shield.png") !important;
}
.covenant_tab_container > .covenant_tab > div[data-cocket-type="FINESSE"] {
    background-image: url("../../../img/flash.png") !important;
}

@media screen and (max-width: 990px) {
    .covenant_tab_container > .covenant_tab > div {
        width: 18px;
        height: 18px;
    }
}