.raid_progress {
	width: calc(100% - 10px);
	border-radius: 3px;
	border: 1px solid var(--light);
	background: var(--middle_blue);
	color: var(--w);
	min-height: 200px;
	margin: 0 5px;
}
.raid_progress_image {
	width: 100%;
	height: 200px;
	background: var(--middle_blue);
}
.raid_progress_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}
.raid_progress_title {
	padding: 10px 20px;
	text-align: center;
}
.raid_progress_container {
	padding: 0 20px 20px 20px;
}
@media screen and (max-width: 990px) {
	.raid_progress_title {
		padding: 10px 5px;
		text-align: center;
	}
	.raid_progress_container {
		padding: 0 10px 10px 10px;
	}
}