.armory_item_hover {
	position: absolute;
	min-width: 300px;
	width: calc( (100% - 20px) / 3 );
	height: auto;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	background: var(--dark_blue);
	-webkit-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	overflow:hidden;
	opacity: 0;
	visibility: hidden;
	border-radius: 3px;
	z-index: 1;
	border: 2px solid var(--light);
	padding: 10px 20px 20px 20px;
}
.armory_item:hover .armory_item_hover {
	opacity: 1;
	visibility: visible;
	z-index: 2;
}
.armory_item_hover > div > * {
	padding-top: 10px;
}
.armory_item_hover_title > p{
	color: var(--light);
	font-size: 0.9em;
}
@media screen and (max-width: 559px) {
	.armory_item_hover {
		min-width: 260px;
	    width: calc( (100% - 20px) / 3 );
	    padding: 5px 10px 10px 10px;
	}
	.armory_item_hover > div > * {
		padding-top: 5px;
	}
}
@media screen and (max-width: 360px) {
	.armory_item_hover {
		min-width: 210px;
	    width: calc( (100% - 20px) / 3 );
	    padding: 5px 10px 10px 10px;
	}
	.armory_item_hover > div > * {
		padding-top: 5px;
	}
}