.corruptions_hover {
	position: absolute;
	min-width: 300px;
	width: calc( (100% - 20px) / 3 );
	height: auto;
	top: 10%;
	left: 50%;
	background: rgb(15, 9, 27);
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transform: translateX(-50%);
	overflow:hidden;
	opacity: 0;
	visibility: hidden;
	border-radius: 3px;
	z-index: 1;
	border: 1px solid var(--light);
    padding: 20px 20px 20px 20px;
}
.corruptions:hover .corruptions_hover {
	opacity: 1;
	top: 0;
	visibility: visible;
	z-index: 2;
}
.corruptions_hover_title {
	color: rgb(149, 109, 209);
	text-align: center;
}
@media screen and (max-width: 559px) {
	.corruptions_hover {
		min-width: 210px;
	    width: calc( (100% - 20px) / 3 );
	    padding: 10px 10px 10px 10px;
	}
	.corruptions_hover_title {
		margin-bottom: 10px;
	}
}