.raid_progress_line{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	cursor: pointer;
}
.raid_progress_container > .raid_progress_line:not(:last-child) {
	margin-bottom: 10px;
}
.raid_progress_line_title {
	width: 75px;
	color: var(--gold);
}
.raid_progress_line_container {
	width: calc(100% - 75px);
	background: var(--black);
	height: 30px;
	border-radius: 3px;
	border: 2px solid var(--light);
	overflow: hidden;
	position: relative;
}
.raid_progress_line_container_done {
	position: absolute;
	z-index: 1;
	display: block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.raid_progress_line_container_line {
	width: 20%;
	height: 28px;
	background: var(--corruption);
	display: flex;
	justify-content: center;
	align-items: center;
}
.raid_progress_line_container_line.zero {
	width: 0;
}
.raid_progress_line_hover_container {
	height: 0;
	opacity: 0;
	margin-top: 0;
	padding: 0;
	overflow-x: hidden;
	width: calc(100% - 75px);
	margin-left: 75px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	border: 0px solid var(--light);
	background: var(--dark_blue);
	color: #0f0;
	border-radius: 3px;
}
.raid_progress_line_hover_container.active_details {
	height: auto;
	opacity: 1;
	margin-top: 5px;
	padding: 5px;
	border: 2px solid var(--light);
}
@media screen and (max-width: 767px) {
	.raid_progress_line_title {
		width: 65px;
	}
	.raid_progress_line_container {
		width: calc(100% - 65px);
	}
	.raid_progress_line_hover_container {
		width: 100%;
		margin-left: 0;
	}
}