.armory_item_hover_azerite_essence {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.9em;
	color: var(--white);
}
.armory_item_hover_azerite_essence img {
	 margin-right: 10px;
	 width: 25px;
	 height: 25px;
	 border-radius: 50%;
}
.armory_item_hover_azerite_essences > .armory_item_hover_azerite_essence:not(:last-child) > * {
	margin-bottom: 5px;
}
.armory_item_hover_azerite_essence.LEGENDARY {
    color: var(--legendary);
}
.armory_item_hover_azerite_essence.EPIC {
    color: var(--epic);
}
.armory_item_hover_azerite_essence.RARE {
    color: var(--rare);
}
.armory_item_hover_azerite_essence.UNCOMMON {
    color: var(--uncommon);
}
.armory_item_hover_azerite_essence.COMMON {
    color: var(--common);
}
.armory_item_hover_azerite_essence.LEGENDARY > img {
    border: 2px solid var(--legendary);
}
.armory_item_hover_azerite_essence.EPIC > img {
    border: 2px solid var(--epic);
}
.armory_item_hover_azerite_essence.RARE > img {
    border: 2px solid var(--rare);
}
.armory_item_hover_azerite_essence.UNCOMMON > img {
    border: 2px solid var(--uncommon);
}
.armory_item_hover_azerite_essence.COMMON > img {
    border: 2px solid var(--common);
}