#copylink {
    position: absolute;
	width: 40px;
	height: 40px;
    left: 60px;
    top: 10px;
	color: var(--white);
    z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}
#copylink button {
	width: 40px;
	height: 40px;
	background: var(--gold);
    border: 2px solid var(--gold);
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#copylink button.active {
    position: relative;
	background: var(--green);
    border: 2px solid var(--green);
}
#copylink button i {
	color: var(--white);
}
#copylink p {
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    color: var(--w);
    transform: translate3d(0%, -50%, 0);
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#copylink p.active {
    opacity: 1;
}