#rosters {
	width: 210px;
	height: calc( (var(--vh, 1vh) * 100) - 20px );
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	right: 0;
	top: 10px;
	transform: translateX(210px);
	z-index: 1000;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#rosters.isVisible {
	transform: translateX(0px);
}
.rosters_container {
	width: 100%;
	height: calc(var(--vh, 1vh) * 100);
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.rosters_top_container {
	width: 100%;
}
.rosters_title {
	color: var(--white);
	background: var(--corruption);
	width: 200px;
	border: 2px solid var(--corruption);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	border-radius: 3px;
	margin: 10px 0 0 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#rosters.isVisible .rosters_title {
	opacity: 1;
	visibility: visible;
}
.rosters_hover_button {
	position: absolute;
	width: 40px;
	height: 40px;
	left: -50px;
	top: 0;
	background: var(--corruption);
	color: var(--white);
	border: 2px solid var(--corruption);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#rosters.isVisible .rosters_hover_button {
	background: var(--danger-color);
	color: var(--white);
	border: 2px solid var(--danger-color);
}
.rosters_hover_button button {
	width: 40px;
	height: 40px;
}
.rosters_hover_button i {
	color: var(--white);
}
.rosters_list {
	width: 200px;
	height: calc(100% - 120px);
	background: var(--dark_blue);
	border: 2px solid var(--light);
	overflow-y: scroll;
	margin: 10px 10px 0 10px; 
	border-radius: 3px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#rosters.isVisible .rosters_list {
	opacity: 1;
	visibility: visible;
}
.roster_search {
	background: var(--dark_blue);
	margin: 10px 10px 0 10px; 
	width: calc(100% - 10px);
	border: 2px solid var(--light);
	border-radius: 3px;
	height: 40px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#rosters.isVisible .roster_search {
	opacity: 1;
	visibility: visible;
}
#rosters .roster_search input {
	border: 0;
	height: 40px;
	width: calc(100% - 40px);
	color: var(--w);
}
#rosters .roster_search i {
	color: var(--light);
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}
#rosters .roster_search i.clean {
	color: var(--danger-color);
	cursor: pointer;
}