#navigation {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 2px solid var(--light);
    z-index: 5;
    overflow-y: auto;
    background: var(--dark_blue);
}
#navigation > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: var(--dark_blue);
}
#navigation ul li {
   list-style-type: none;
}
#navigation ul li a {
    padding: 10px;
}
#navigation ul li.is-current a {
    color: var(--legendary);
}
