.raids_progress {
	width: 100%;
	padding: 40px 0;
}
.raids_progress_title {
	color: var(--white);
	margin-bottom: 20px;
}
@media screen and (max-width: 991px) and (min-width: 768px){
	.raids_progress .wrapper.wide_wrapper {
		width: 100%;
		max-width: 100%;
	}
}
@media screen and (max-width: 767px) and (min-width: 560px){
	.raids_progress .wrapper.wide_wrapper {
		width: 100%;
		max-width: 100%;
	}
}
@media screen and (max-width: 559px){
	.raids_progress .wrapper.wide_wrapper {
		width: 100%;
		max-width: 100%;
	}
}