.armory_title_info {
    text-align: center;
    margin-bottom: 20px;
}
.armory_title_class h6 {
	display: flex;
	justify-content: center;
	align-items: center
}
.armory_title_class h6 > p {
	padding: 0 5px;
	color: var(--white);
}
.armory_title_main {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-bottom: 10px; */
}
.armory_title_main > *:not(:last-child) {
	margin-right: 10px;
}
.armory_title_main p {
	color: var(--white);
	color: var(--gold);
	display: flex;
	justify-content: center;
	align-items: center;
}
.armory_title_main p svg {
	fill: var(--gold);
	width: 15px;
	height: 15px;
	margin: 0 5px;
}