/* styles write here */
main {position:relative}
section{padding:20px 0}
body {
	background: var(--dark_blue);
}
body,body button,i:before {
	text-shadow: 1px 0 1px var(--black) , 0 1px 1px var(--black) , -1px 0 1px var(--black) , 0 -1px 1px var(--black) !important;
}
body .form button {
	text-shadow: 0 0 0 rgba(0,0,0,0) !important;
}
.workspace_container {
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	overflow-x: auto;
	background: var(--dark_blue);
}
#app {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: calc(var(--vh, 1vh) * 100);
	overflow:hidden;
}
.error_app {
	height: calc(var(--vh, 1vh) * 100);
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	max-width: 500px;
	width: calc(100% - 20px);
	margin: 0 auto;
}
.error_app h2 {
	color: var(--white);
	width: 100%;
	text-align: center;
	margin-bottom: 20px;	
}
.error_app button {
	width: 60px;
	height: 60px;
	font-size: 2em;
	margin: 0 auto;
	background: var(--danger-color);
	color: var(--white);
    border: 1px solid var(--danger-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
/* default media */
/* xl */
@media screen and (min-width: 1200px) {}
/* lg */
@media screen and (min-width: 992px) and (max-width: 1199px) {}
/* md */
@media screen and (min-width: 768px) and (max-width: 991px) {}
/* sm */
@media screen and (min-width: 560px) and (max-width: 767px) {}
/* xs */
@media screen and (max-width: 559px) {}




