.talent {
    background: var(--middle_blue);
    color: var(--white);
    margin-bottom: 10px;
    width: calc( (100% - 20px) / 3 );
    padding: 20px;
    border: 2px solid var(--light);
    border-radius: 3px;
}
.talents_container > .talent:nth-child(3n+1) {
    margin-right: 10px;
}
.talents_container > .talent:nth-child(3n+2) {
    margin-right: 10px;
}
.talents_container > .talent:nth-child(n+7){
    margin-bottom: 0;
}
.talent_visible {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.talent_visible img {
    width: 60px;
    height: 60px;
    background: var(--middle_blue);
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid var(--light);
}
.talent_hover {
    color: var(--gold);
}

@media screen and (max-width: 767px) {
    .talent {
        width: 100%;
        padding: 10px;
    }
    .talents_container > .talent:nth-child(3n+1) {
        margin-right: 0;
    }
    .talents_container > .talent:nth-child(3n+2) {
        margin-right: 0;
    }
    .talents_container > .talent:nth-child(n+7){
        margin-bottom: 0;
    }
    .talent_visible img {
        width: 40px;
        height: 40px;
    }
}