.talents_tab_container > .talent_tab {
    cursor: pointer;
}
.talents_tab_container > .talent_tab > img {
    margin-bottom: -4px;
    border-radius: 3px;
    border: 2px solid var(--light);
    max-width: 100%;
    width: 100%;
}
.talents_tab_container > .talent_tab.passive > img {
    border-radius: 50%;
}
.talents_tab_container > .talent_tab.active > img {
    border: 2px solid var(--gold);
}
@media screen and (max-width: 990px) {
    .talents_tab_container > .talent_tab > img {
        margin-bottom: -4px;
        border-radius: 3px;
        border: 2px solid var(--light);
    }
}