#login .workspace_container:after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("../../img/login-preview.jpg");
	background-size: cover;
	background-position-x: center;
    z-index: 1;
    opacity: 0.25;
}
#login .workspace_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#login .workspace_container .wrapper {
	z-index: 3;
	max-width: 500px;
    width: calc(100% - 20px);
}
#login .workspace_container .wrapper.check {
    position: absolute;
    bottom: 10px;
    z-index: 2;
} 
#login .workspace_container .wrapper h2 {
    color: var(--white);
    text-align: center;
    margin-bottom: 10px;
}
#login .form > button , #login .workspace_container .wrapper.check > button {
	width: 100%;
	background: var(--corruption);
	border: 2px solid var(--corruption);
	height: 40px;
	margin-bottom: 0px;
    color: var(--white);
    text-shadow: 1px 0 1px var(--black) , 0 1px 1px var(--black) , -1px 0 1px var(--black) , 0 -1px 1px var(--black) !important;
}
#login .form input,
#login .form select {
	width: 100%;
	border: 2px solid var(--light);
	height: 40px;
	margin-bottom: 10px;
	color: var(--black) !important;
    background: var(--white) !important;
    padding: 5px 10px !important;
    font-size: 1em !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: var(--normal) !important;
}
#login .form option {
    color: var(--black) !important;
    background: var(--white) !important;
    padding: 5px 10px !important;
    font-size: 1em !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: var(--normal) !important;
}
#login input::placeholder,
#login select::placeholder {
    color: var(--chrome) !important;
    background: var(--white) !important;
    font-size: 1em !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: var(--normal) !important;
}

/* pluggin */
.select-search {
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}
.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}
.select-search__value {
    position: relative;
    z-index: 1;
}
.select-search__value::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 9px);
    right: 19px;
    width: 11px;
    height: 11px;
}
.select-search__input {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    background: var(--common);
    border: 2px solid transparent;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 36px;
    -webkit-appearance: none;
}
.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
    -webkit-appearance:none;
}
.select-search__input:not([readonly]):focus {
    cursor: initial;
}
.select-search__select {
    background: var(--common);
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
}
.select-search__options {
    list-style: none;
}
.select-search__row:not(:first-child) {
    border-top: 2px solid #eee;
}
.select-search__option {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    background: var(--common);
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    cursor: pointer;
}
.select-search--multiple .select-search__option {
    height: 48px;
}
.select-search__option.is-selected {
    background: var(--corruption);
    color: var(--common);
}
.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
    background: rgba(149, 109, 209, 0.2);
}
.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
    background: var(--corruption);
    color: var(--common);
}
.select-search__group-header {
    text-transform: uppercase;
    background: #eee;
    padding: 8px 16px;
}
.select-search.is-disabled {
    opacity: 0.5;
}
.select-search.is-loading .select-search__value::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-size: 11px;
}
.select-search:not(.is-disabled) .select-search__input {
    cursor: pointer;
}
.select-search--multiple {
    border-radius: 3px;
    overflow: hidden;
}
.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
    transform: rotate(45deg);
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    pointer-events: none;
}
.select-search--multiple .select-search__input {
    cursor: initial;
}
.select-search--multiple .select-search__input {
    border-radius: 3px 3px 0 0;
}
.select-search--multiple:not(.select-search--search) .select-search__input {
    cursor: default;
}
.select-search:not(.select-search--multiple) .select-search__input:hover {
    border-color: #2FCC8B;
}
.select-search:not(.select-search--multiple) .select-search__select {
    position: absolute;
    z-index: 2;
    top: 44px;
    right: 0;
    left: 0;
    border-radius: 3px;
    overflow: auto;
    max-height: 297px;
}
.select-search--multiple .select-search__select {
    position: relative;
    overflow: auto;
    max-height: 260px;
    border-top: 2px solid #eee;
    border-radius: 0 0 3px 3px;
}