#stats {
	width: 100%;
	padding: 20px 0;
}
.stats_title {
	color: var(--gold);
	margin-bottom: 20px;
	text-align: center;
}
.stats_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	/* background: var(--dark_blue);
	border-radius: 3px;
	border: 2px solid var(--light); */
}
.stats_container > div {
	width: calc( (100% - 30px) / 4);
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 200px;
	position: relative;
	border-radius: 3px;
	border: 2px solid var(--light);
}
.stats_container > div:nth-child(1), 
.stats_container > div:nth-child(2) {
    width: calc( (100% - 10px) / 2);
    margin-bottom: 10px;
}

.stats_container > div.strength:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	z-index: 1;
	background: var(--strength);
}
.stats_container > div.intellect:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	z-index: 1;
	background: var(--intellect);
}
.stats_container > div.agility:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	z-index: 1;
	background: var(--agility);
}
.stats_container > div.stamina:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	z-index: 1;
	background: var(--stamina);
}
.stats_container > div.crit:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	z-index: 1;
	background: var(--crit);
}
.stats_container > div.haste:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	z-index: 1;
	background: var(--haste);
}
.stats_container > div.mastery:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	z-index: 1;
	background: var(--mastery);
}
.stats_container > div.versatility:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	z-index: 1;
	background: var(--versality);
}
.stats_container > div > h3 {
	text-align: center;	
	width: 100%;
	position: relative;
	z-index: 2;
    text-transform: capitalize;
}
.stats_container > div > svg {
	width: 60px;
	margin-right: 10px;
	position: relative;
	z-index: 2;
}
.stats_container > div.strength > svg{
	fill: var(--strength)
}
.stats_container > div.intellect > svg{
	fill: var(--intellect)
}
.stats_container > div.agility > svg{
	fill: var(--agility)
}
.stats_container > div.stamina > svg{
	fill: var(--stamina)
}
.stats_container > div.crit > svg{
	fill: var(--crit)
}
.stats_container > div.haste > svg{
	fill: var(--haste)
}
.stats_container > div.mastery > svg{
	fill: var(--mastery)
}
.stats_container > div.versatility > svg{
	fill: var(--versality)
}
.stats_container > div > div {
	color: var(--white);
    width: 55px;
	position: relative;
	z-index: 2;
}
.stats_container > div > div > p:first-child {
	font-weight: bold;
}

.stats_container > div.strength {
	color: var(--strength);
}
.stats_container > div.intellect {
	color: var(--intellect);
}
.stats_container > div.agility {
	color: var(--agility);
}
.stats_container > div.stamina {
	color: var(--stamina);
}
.stats_container > div.crit{
	color: var(--crit);
}
.stats_container > div.haste{
	color: var(--haste);
}
.stats_container > div.mastery{
	color: var(--mastery);
}
.stats_container > div.versatility{
	color: var(--versality);
}


.stats_ratio {
	margin-top: 8px;
	color: var(--white);
	position: relative;
    width: 100%;
    background: var(--middle_blue);
    border: 2px solid var(--light);
    padding: 20px;
    border-radius: 3px;
}
.stats_ratio_title {
	color: var(--w);
	margin-bottom: 20px;
}
.stats_ratio_container > div {
	height: 30px;
	border-radius: 3px;
    border: 2px solid var(--light);
	background: var(--black);
    overflow: hidden;
    position: relative;
}
.stats_ratio_container > div:not(:last-child) {
	margin-bottom: 10px;
}
.stats_ratio_container_progress {
	width: 20%;
	margin-top: -1px;
    height: 28px;
    background: var(--corruption);
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats_ratio_container > .crit > .stats_ratio_container_progress {
    background: var(--crit);
}
.stats_ratio_container > .haste > .stats_ratio_container_progress {
    background: var(--haste);
}
.stats_ratio_container > .mastery > .stats_ratio_container_progress {
    background: var(--mastery);
}
.stats_ratio_container > .versatility > .stats_ratio_container_progress {
    background: var(--versality);
}
.stats_ratio_container_percents {
	position: absolute;
    z-index: 1;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
	.stats_container {
		margin: 0 auto;
	}
	.stats_ratio {
		margin-top: 10px;
	}
	.stats_container > div {
		width: calc(50% - 6px);
		height: 120px;
		margin-bottom: 10px;
	}
	.stats_container > div:nth-child(n+5) {
		margin-bottom: 0;
	}
	
	.stats_ratio {
		padding: 10px;
	}
	.stats_ratio_title {
		margin-bottom: 10px;
	}
}